body{
    background-color: #f9f7fe;
}
.weather-app{
    background-color: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(05, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
}
header{
   
    border-radius: 2 solid  #f9f7fe ;
    padding: 0 30px 0;
}
a{
     color: purple;
}
.search-input{
    border-color: #f9f7fe;
    border: none;
    border-radius: 7px;
    width: 75%;
    padding: 15px 20px;
}
.search-button{
    background-color: purple;
    margin-left: 9px;
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    color:white;
}
main{
    padding: 30px 0;
}
.app-data{
    display: flex;
    justify-content: space-between;
}
.city{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}
.details{
    font-size: 18px;
    line-height: 23px;
}
.details span{
    color: red;
    font-weight: 800;
    font-style:oblique ;
}
.temperature-container{
    display: flex;
    
}
.temp-icon{
    font-size: 44px;

}
.temp-unites{
    font-size: 26px;
    margin-top: none;
    position:relative;
}
.app-temp{
    font-size: 88px;
    font-weight: bold;
}

footer{
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.555);

}